replicaCount: 1

image:
  registry: quay.io
  repository: rabbitmqoperator/messaging-topology-operator
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []

podAnnotations: {}
podLabels: {}

resources:
  limits:
    cpu: 200m
    memory: 500Mi
  requests:
    cpu: 200m
    memory: 500Mi

nodeSelector: {}

tolerations: []

affinity: {}
