---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: rabbitmq-operator
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/part-of: rabbitmq
    servicebinding.io/controller: "true"
    app.kubernetes.io/instance: '{{ .Release.Name }}'
  name: rabbitmq-cluster-service-binding-role
rules:
  - apiGroups:
      - rabbitmq.com
    resources:
      - rabbitmqclusters
    verbs:
      - get
      - list
      - watch
