replicaCount: 1

image:
  registry: ghcr.io
  repository: authzed/spicedb
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

rbac:
  create: true

podAnnotations: {}
podLabels: {}

deploymentStrategy: {}

service:
  type: ClusterIP

ingress:
  enabled: false
  className: ""
  annotations: {}
  host: null
  tls: false
  tlsSecretName: null

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

extraEnv: []

nodeSelector: {}

tolerations: []

affinity: {}

spicedb:
  logLevel: info
  # chose between "console" and "json", see: https://authzed.com/docs/spicedb/concepts/commands
  logFormat: console
  httpEnabled: false
  dispatchClusterEnabled: false
  shutdownGracePeriod: null
  datastore:
    engine: null
    connectionUri:
      value: null
      secretName: null
      secretKey: null
    readReplica:
      enabled: false
      connectionUri:
        value: null
        secretName: null
        secretKey: null
  grpcPresharedKey:
    value: null
    secretName: null
    secretKey: null

metrics:
  enabled: true
  serviceMonitor:
    enabled: false
