replicaCount: 1

image:
  registry: ghcr.io
  repository: rabbitmq/cluster-operator
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

resources:
  limits:
    cpu: 200m
    memory: 500Mi
  requests:
    cpu: 200m
    memory: 500Mi

nodeSelector: {}

tolerations: []

affinity: {}
