---
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations: {}
  labels:
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/name: '{{ include "keycloak-operator.name" $ }}'
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
  name: '{{ include "keycloak-operator.fullname" $ }}'
