apiVersion: v2
name: keycloak
description: A Helm chart for Kubernetes
type: application
version: 0.6.4
# renovate: github-releases=keycloak/keycloak
appVersion: 26.5.2

dependencies:
- name: keycloak-operator
  repository: https://schich.tel/helm-charts
  version: 0.6.4
  condition: keycloak-operator.enabled
