apiVersion: v2
name: keycloak
description: A Helm chart for Kubernetes
type: application
version: 0.5.10
# renovate: github-releases=keycloak/keycloak
appVersion: 26.4.6

dependencies:
- name: keycloak-operator
  repository: https://schich.tel/helm-charts
  version: 0.5.9
  condition: keycloak-operator.enabled
