apiVersion: v2
name: keycloak
description: A Helm chart for Kubernetes
type: application
version: 0.2.5
appVersion: 26.1.2

dependencies:
- name: keycloak-operator
  repository: https://schich.tel/helm-charts
  version: 0.2.10
  condition: keycloak-operator.enabled
