apiVersion: v2
name: keycloak
description: A Helm chart for Kubernetes
type: application
version: 0.3.2
# renovate: github-releases=keycloak/keycloak
appVersion: 26.2.2

dependencies:
- name: keycloak-operator
  repository: https://schich.tel/helm-charts
  version: 0.3.2
  condition: keycloak-operator.enabled
