replicaCount: 1

image:
  registry: quay.io
  repository: keycloak/keycloak-operator
  pullPolicy: IfNotPresent
  tag: ""

crds:
  enabled: true

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}
podLabels: {}

resources:
  limits:
    cpu: 700m
    memory: 450Mi
  requests:
    cpu: 300m
    memory: 450Mi

nodeSelector: {}

tolerations: []

affinity: {}
