apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "spicedb.fullname" . }}
  labels:
    {{- include "spicedb.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  progressDeadlineSeconds: 600
  {{- with .Values.deploymentStrategy }}
  strategy: {{- . | toYaml | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "spicedb.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- $annotations := deepCopy .Values.podAnnotations -}}
      {{- if or .Values.spicedb.datastore.connectionUri.value .Values.spicedb.grpcPresharedKey.value }}
      {{- $annotations = set $annotations "checksum/secret" ((include (print $.Template.BasePath "/secret.yaml") $ | fromYaml).data | toYaml | sha256sum) }}
      {{- end }}
      {{- with $annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "spicedb.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.spicedb.dispatchClusterEnabled }}
      serviceAccountName: {{ include "spicedb.serviceAccountName" . }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
      dnsPolicy: "ClusterFirst"
      terminationGracePeriodSeconds: 30
      restartPolicy: "Always"
      {{- if .Values.spicedb.datastore.engine }}
      initContainers:
        - name: migrate-db
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          {{- include "spicedb.containerImage" . | nindent 10 }}
          command: ["spicedb", "datastore", "migrate", "head"]
          {{- include "spicedb.env" . | nindent 10 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          {{- include "spicedb.containerImage" . | nindent 10 }}
          command: ["spicedb", "serve"]
          {{- $grpcPort := 50051 }}
          ports:
          - containerPort: {{ $grpcPort }}
            name: grpc
            protocol: TCP
          {{- if .Values.spicedb.httpEnabled }}
          - containerPort: 8443
            name: http
            protocol: TCP
          {{- end }}
          {{- if .Values.metrics.enabled }}
          - containerPort: 9090
            name: metrics
            protocol: TCP
          {{- end }}
          {{- if .Values.spicedb.dispatchClusterEnabled }}
          - containerPort: 50053
            name: dispatch
            protocol: TCP
          {{- end }}
          {{- include "spicedb.env" . | nindent 10 }}
          livenessProbe:
            exec:
              command: ["grpc_health_probe", "-v", "-addr=localhost:{{ $grpcPort }}"]
            failureThreshold: 5
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command: ["grpc_health_probe", "-v", "-addr=localhost:{{ $grpcPort }}"]
            failureThreshold: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          terminationMessagePath: {{ include "spicedb.terminationLogPath" . | quote }}
          terminationMessagePolicy: FallbackToLogsOnError
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
