{{- if or .Values.spicedb.datastore.connectionUri.value .Values.spicedb.grpcPresharedKey.value (and .Values.spicedb.datastore.readReplica.enabled .Values.spicedb.datastore.readReplica.connectionUri.value) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "spicedb.fullname" . }}
  labels:
    {{- include "spicedb.labels" . | nindent 4 }}
type: Opaque
data:
  {{- with .Values.spicedb.datastore.connectionUri.value }}
  datastore_connection_uri: {{ . | b64enc }}
  {{- end }}
  {{- if .Values.spicedb.datastore.readReplica.enabled }}
  {{- with .Values.spicedb.datastore.readReplica.connectionUri.value }}
  datastore_read_replica_connection_uri: {{ . | b64enc }}
  {{- end }}
  {{- end }}
  {{- with .Values.spicedb.grpcPresharedKey.value }}
  grpc_preshared_key: {{ . | b64enc }}
  {{- end }}
{{- end }}