{{- if not .Values.credentialsSecret }}
apiVersion: v1
kind: Secret
metadata:
metadata:
  name: {{ include "crproxy.fullname" . }}
  labels:
    {{- include "crproxy.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $host, $credentials := .Values.credentials }}
  {{ print "AUTH_HOST_" $host | quote }}: {{ print $credentials.username ":" $credentials.password | b64enc }}
  {{- end }}
{{- end }}