apiVersion: v1
kind: Service
metadata:
  name: {{ include "mosquitto.fullname" . }}
  labels:
    {{- include "mosquitto.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}
  {{- if .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  ports:
    - port: {{ .Values.service.ports.mqtt }}
      targetPort: mqtt
      protocol: TCP
      name: mqtt
    {{- range $name, $port := .Values.service.ports.additional }}
    - port: {{ $port.port }}
      targetPort: {{ $name }}
      protocol: {{ $port.protocol }}
      name: {{ $name }}
    {{- end }}
  selector:
    {{- include "mosquitto.selectorLabels" . | nindent 4 }}
