{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "wordpress.fullname" . }}
  labels:
    {{- include "wordpress.labels" . | nindent 4 }}
spec:
  policyTypes:
  - Egress
  podSelector:
    matchLabels:
      {{- include "wordpress.selectorLabels" . | nindent 6 }}
  {{- with .Values.networkPolicy.egress }}
  egress:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
