---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ .Release.Name }}-leader-election-rolebinding'
  labels:
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/instance: '{{ .Release.Name }}'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ .Release.Name }}-leader-election-role'
subjects:
  - kind: ServiceAccount
    name: '{{ .Release.Name }}'
    namespace: '{{ .Release.Namespace }}'
